{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>Accounts</h1>
            <p><a class="App-link" href="{{ url_for('new_account') }}">Add Account</a></p>
            <table>
                <tr><th>Name</th><th>Industry</th><th>Actions</th></tr>
                {% for account in accounts %}
                    <tr>
                        <td><a href="{{ url_for('show_account', account_id=account.id) }}">{{ account.name }}</a></td>
                        <td>{{ account.industry }}</td>
                        <td><a href="{{ url_for('edit_account', account_id=account.id) }}">Edit</a></td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">No accounts found.</td></tr>
                {% endfor %}
            </table>
        </header>
    </div>
{% endblock %}
