<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('hello_world') }}">Home</a></li>
            <li><a href="{{ url_for('list_customers') }}">Customers</a></li>
            <li><a href="{{ url_for('list_leads') }}">Leads</a></li>
            <li><a href="{{ url_for('list_accounts') }}">Accounts</a></li>
            <li><a href="{{ url_for('list_contacts') }}">Contacts</a></li>
            <li><a href="{{ url_for('list_deals') }}">Deals</a></li>
            <li><a href="{{ url_for('list_products') }}">Products</a></li>
            <li><a href="{{ url_for('list_pricebooks') }}">Pricebooks</a></li>
            <li><a href="{{ url_for('list_quotes') }}">Quotes</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
