{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>Deals</h1>
            <p><a class="App-link" href="{{ url_for('new_deal') }}">Add Deal</a></p>
            <table>
                <tr><th>Name</th><th>Stage</th><th>Actions</th></tr>
                {% for deal in deals %}
                    <tr>
                        <td><a href="{{ url_for('show_deal', deal_id=deal.id) }}">{{ deal.name }}</a></td>
                        <td>{{ deal.stage }}</td>
                        <td><a href="{{ url_for('edit_deal', deal_id=deal.id) }}">Edit</a></td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">No deals found.</td></tr>
                {% endfor %}
            </table>
        </header>
    </div>
{% endblock %}
