{% extends 'base.html' %}
{% block content %}
<h1>Edit Contact</h1>
<form action="{{ url_for('update_contact', contact_id=contact.id) }}" method="post" class="two-column">
<p><input type="text" name="name" value="{{ contact.name }}" required></p>
<p><input type="email" name="email" value="{{ contact.email }}"></p>
<p><input type="text" name="phone" value="{{ contact.phone }}"></p>
<p><input type="text" name="title" value="{{ contact.title }}"></p>
{% from 'macros.html' import lookup %}
<p>
    {{ lookup('account_id', accounts, 'name', contact.account_id) }}
</p>
<p><button type="submit">Update</button></p>
</form>
{% endblock %}
