{% extends 'base.html' %}
{% block content %}
<h1>Edit Price Book Entry</h1>
<form action="{{ url_for('update_pricebook_entry', entry_id=entry.id) }}" method="post">
{% from 'macros.html' import lookup %}
<p>
    {{ lookup('product_id', products, 'name', entry.product_id) }}
</p>
<p>
    {{ lookup('pricebook_id', pricebooks, 'name', entry.pricebook_id) }}
</p>
<p><input type="number" step="0.01" name="unit_price" value="{{ entry.unit_price }}"></p>
<p><button type="submit">Update</button></p>
</form>
{% endblock %}
