{% extends 'base.html' %}
{% block content %}
<h1>Edit Price Book Entry</h1>
<form action="{{ url_for('update_pricebook_entry', entry_id=entry.id) }}" method="post">
<p>
<select name="product_id">
{% for product in products %}
<option value="{{ product.id }}" {% if entry.product_id==product.id %}selected{% endif %}>{{ product.name }}</option>
{% endfor %}
</select>
</p>
<p>
<select name="pricebook_id">
{% for pricebook in pricebooks %}
<option value="{{ pricebook.id }}" {% if entry.pricebook_id==pricebook.id %}selected{% endif %}>{{ pricebook.name }}</option>
{% endfor %}
</select>
</p>
<p><input type="number" step="0.01" name="unit_price" value="{{ entry.unit_price }}"></p>
<p><button type="submit">Update</button></p>
</form>
{% endblock %}
