{% extends 'base.html' %}
{% block content %}
<h1>Edit Quote Line Item</h1>
<form action="{{ url_for('update_quote_line_item', item_id=item.id) }}" method="post" class="row g-3">
    {% from 'macros.html' import lookup %}
    <div class="col-md-6">
        <label class="form-label">Quote</label>
        {{ lookup('quote_id', quotes, '', item.quote_id, 'Quote ') }}
    </div>
    <div class="col-md-6">
        <label class="form-label">Product</label>
        {{ lookup('product_id', products, 'name', item.product_id) }}
    </div>
    <div class="col-md-6">
        <label class="form-label">Quantity</label>
        <input type="number" name="quantity" class="form-control" value="{{ item.quantity }}">
    </div>
    <div class="col-md-6">
        <label class="form-label">Price</label>
        <input type="number" step="0.01" name="price" class="form-control" value="{{ item.price }}">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}
