{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>New Account</h1>
            <form action="{{ url_for('create_account') }}" method="post" class="two-column">
                <p><input type="text" name="name" placeholder="Name" required></p>
                <p><input type="text" name="industry" placeholder="Industry"></p>
                <p><input type="email" name="email" placeholder="Email"></p>
                <p><input type="text" name="phone" placeholder="Phone"></p>
                <p><input type="text" name="address" placeholder="Address"></p>
                <p><textarea name="notes" placeholder="Notes"></textarea></p>
                {% from 'macros.html' import lookup %}
                <p>{{ lookup('owner_id', users, 'username', current_user.id) }}</p>
                <p><button type="submit">Create</button></p>
            </form>
            <p><a class="App-link" href="{{ url_for('list_accounts') }}">Back</a></p>
        </header>
    </div>
{% endblock %}
