{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>New Contact</h1>
            <form action="{{ url_for('create_contact') }}" method="post" class="two-column">
                <p><input type="text" name="name" placeholder="Name" required></p>
                <p><input type="email" name="email" placeholder="Email"></p>
                <p><input type="text" name="phone" placeholder="Phone"></p>
                <p><input type="text" name="title" placeholder="Title"></p>
                {% from 'macros.html' import lookup %}
                <p>
                    {{ lookup('account_id', accounts, 'name') }}
                </p>
                <p><button type="submit">Create</button></p>
            </form>
            <p><a class="App-link" href="{{ url_for('list_contacts') }}">Back</a></p>
        </header>
    </div>
{% endblock %}
