{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>New Quote</h1>
            <form action="{{ url_for('create_quote') }}" method="post" class="two-column">
                {% from 'macros.html' import lookup %}
                <p>
                    {{ lookup('deal_id', deals, 'name') }}
                </p>
                <p><input type="number" step="0.01" name="total" placeholder="Total"></p>
                <p><input type="date" name="expiration_date" placeholder="Expiration"></p>
                <p><button type="submit">Create</button></p>
            </form>
            <p><a class="App-link" href="{{ url_for('list_quotes') }}">Back</a></p>
        </header>
    </div>
{% endblock %}
