{% extends 'base.html' %}
{% block content %}
<h1>New Quote</h1>
<form action="{{ url_for('create_quote') }}" method="post" class="row g-3">
    {% from 'macros.html' import lookup %}
    <div class="col-md-6">
        <label class="form-label">Deal</label>
        {{ lookup('deal_id', deals, 'name') }}
    </div>
    <div class="col-md-6">
        <label class="form-label">Total</label>
        <input type="number" step="0.01" name="total" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">Expiration</label>
        <input type="date" name="expiration_date" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-secondary" href="{{ url_for('list_quotes') }}">Back</a>
    </div>
</form>
{% endblock %}
