{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>New Quote Line Item</h1>
            <form action="{{ url_for('create_quote_line_item') }}" method="post">
                {% from 'macros.html' import lookup %}
                <p>
                    {{ lookup('quote_id', quotes, '', '', 'Quote ') }}
                </p>
                <p>
                    {{ lookup('product_id', products, 'name') }}
                </p>
                <p><input type="number" name="quantity" placeholder="Quantity" value="1"></p>
                <p><input type="number" step="0.01" name="price" placeholder="Price"></p>
                <p><button type="submit">Create</button></p>
            </form>
            <p><a class="App-link" href="{{ url_for('list_quote_line_items') }}">Back</a></p>
        </header>
    </div>
{% endblock %}
