{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>Price Book Entries</h1>
            <p><a class="App-link" href="{{ url_for('new_pricebook_entry') }}">Add Entry</a></p>
            <table>
                <tr><th>Product</th><th>Pricebook</th><th>Price</th><th>Actions</th></tr>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.product.name }}</td>
                        <td>{{ entry.pricebook.name }}</td>
                        <td>{{ entry.unit_price }}</td>
                        <td><a href="{{ url_for('show_pricebook_entry', entry_id=entry.id) }}">View</a></td>
                    </tr>
                {% else %}
                    <tr><td colspan="4">No entries found.</td></tr>
                {% endfor %}
            </table>
        </header>
    </div>
{% endblock %}
