{% extends 'base.html' %}
{% block content %}
    <div class="App">
        <header class="App-header">
            <h1>Price Book Entries</h1>
            <p><a class="App-link" href="{{ url_for('new_pricebook_entry') }}">Add Entry</a></p>
            <ul>
                {% for entry in entries %}
                    <li>{{ entry.product.name }} @ {{ entry.unit_price }} in {{ entry.pricebook.name }}</li>
                {% else %}
                    <li>No entries found.</li>
                {% endfor %}
            </ul>
        </header>
    </div>
{% endblock %}
