{% extends 'base.html' %}
{% block content %}
<h1>{{ _('manage_statuses') }}</h1>
<p><a class="App-link" href="{{ url_for('admin_overview') }}">{{ _('back_admin') }}</a></p>
<form action="{{ url_for('create_status') }}" method="post" class="row g-3 mb-3">
    <div class="col-md-4">
        <label class="form-label">Model</label>
        <input type="text" name="model" class="form-control" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">Status</label>
        <input type="text" name="value" class="form-control" required>
    </div>
    <div class="col-md-4 align-self-end">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
<table>
    <tr><th>Model</th><th>Status</th><th>Actions</th></tr>
    {% for status in statuses %}
    <tr>
        <form action="{{ url_for('update_status', status_id=status.id) }}" method="post">
            <td>{{ status.model }}</td>
            <td><input type="text" name="value" value="{{ status.value }}"></td>
            <td>
                <button type="submit">Update</button>
        </form>
        <form action="{{ url_for('delete_status', status_id=status.id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
        </form>
            </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
